logs
*.log
pids
*.pid
*.seed
lib-cov
coverage
.grunt
.lock-wscript
build/Release
node_modules
bower_components/
dist
coverage
.DS_store
package-lock.json
build/
testrpc.db
.private.json
ganache-logs
.private.new.json